*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.idea/
app/
build.gradle
gradle.properties
gradle/
gradlew
gradlew.bat
keystore.properties
settings.gradle
skv.keystore
